
.headingEx {
  position: absolute;
}




@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 150px;
  margin: 10px 0 0 180px;
}

.navbar li {
  margin-right: 10px;
  cursor: pointer;

}

.logo {
  margin-left: 0px;
}

a {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 20px;
}

.button-container {
  display: flex;
  margin-top: 3%;
  padding-left: 30px;
}

.button {
  padding: 10px 20px;
  margin: 0 30px 0 0;
  border: none;
  border-radius: 5px;
  background-color: #36a420;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button:hover {
  background-color: #0056b3;
}

.heading {
  margin-top: 8%;
  padding-left: 30px;
  
}

h1 {
  color: white;
  font-size: 50px;
  font-family: cursive;
}

p {
  color: rgb(192, 192, 192);
  font-size: 20px;
  line-height: 15px;
}

.Image {
  width: 80px;
  height: 80px;
  background-color: green;
  float: right;
  margin: 10px;
}
